.DS_Store
manifest.json
target/
pio.log
/pio.sbt
project/plugins.sbt

# Eclipse
.project
.classpath
.settings/
bin/
.cache-main
.cache-tests
project/project/
project/target/
.worksheet/

# IntelliJ
*.iml
.idea/
